.seccioncontacto {
    width: 100vw;
    height: 800px;
    background-image: url(../assets/img/materiales-macrame.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:10px;

    .contactanos{
        font-family:'monserrat light' ;
        color: black;
        background-color: rgba(255, 255, 255, 0.644);
        text-align: center ;
        font-size: 20px;
        height: 100px;
        padding-top: 10px;
    }

    .form{
        width: 50%;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        font-family: 'monserrat sbold';
        font-size: 20px;
        text-align: center;
        padding: 50px;
        margin-top:80px;
        margin-left: 300px;
    }

    .recuadro{
        font-size: 20px;
        line-height: 10px;
        border: 1px solid rgb(117, 110, 110);
        padding: 5px
    }

    
    .boton{
    background-color: rgba(235, 211, 207, 0.329);
    color: rgb(85, 74, 74);
    height: 30px;
    width: 100px;
    font-family: 'monserrat sbold';
    font-size: 15px;
    border-radius: 5%;
    margin-top: 10px;
    padding: 5px;
    border-color:rgb(85, 74, 74);
    }
}

/*media query contacto*/
@media (max-width:320px){
    .seccioncontacto{
        width: 100vw;
        height: 600px;
    }
    .contactanos{
        font-family: "monserrat light";
        height: 70px;
        font-size: 15px;
        line-height: 10px;
    }
    .form{
        width: 100%;
        font-size: 12px;
        margin-top: 30px;
    }
}

@media (min-width:321px) and (max-width:480px){
    .seccioncontacto{
        width: 100vw;
        height: 700px;
    }
    .contactanos{
        font-family: "monserrat light";
        height: 70px;
        font-size: 15px;
        line-height: 10px;
    }
    .form{
        width: 90%;
        font-size: 12px;
        margin-top: 40px;
        margin-left: 20px;
    }
}
@media (min-width:481px) and (max-width:600px){
    .seccioncontacto{
        width: 100vw;
        height: 700px;
    }
    .contactanos{
        font-family: "monserrat light";
        height: 70px;
        font-size: 15px;
        line-height: 10px;
    }
    .form{
        width: 90%;
        font-size: 12px;
        margin-top: 40px;
        margin-left: 20px;
    }
}
@media (min-width:601px) and (max-width:768px){
    .seccioncontacto{
        width: 100vw;
        height: 800px;
    }
    .contactanos{
        font-family: "monserrat light";
        height: 70px;
        font-size: 20px;
        line-height: 10px;
    }
    .form{
        width: 90%;
        font-size: 15px;
        margin-top: 40px;
        margin-left: 20px;
    }
}
@media (min-width:769px) and (max-width:1000px){
    .seccioncontacto{
        width: 100vw;
        height: 800px;
    }
    .contactanos{
        font-family: "monserrat light";
        height: 70px;
        font-size: 20px;
        line-height: 10px;
    }
    .form{
        width: 80%;
        height: 550px;
        font-size: 15px;
        margin-top: 40px;
        margin-left: 80px;
    }
}
@media (min-width:769px) and (max-width:1000px){
    .seccioncontacto{
        width: 100vw;
        height: 900px;
    }
    .contactanos{
        font-family: "monserrat light";
        height: 70px;
        font-size: 20px;
        line-height: 10px;
    }
    .form{
        width: 80%;
        height: 600px;
        font-size: 15px;
        margin-top: 40px;
        margin-left: 100px;
    }
}