.seccionenvios{
    width: 100%;
    height:800px;
    background-image: url(../assets/img/hilos.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comprar{
    width: 70%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.815);
    margin: 20px 20px 40px 0px;
}
.sucursales{
    width: 70%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.815);
}
.textolinea--envios{
    background-color:#f5f0f0e1;
    font-size: 15px;
}
.titulo{
    text-align: center;
    font-family: "monserrat light";
    margin: 10px 0px 20px 0px;
}
.textoenvios{
    font-family: "monserrat sbold";
    font-size: 15px;
    line-height: 30px;
}
/*media query envios*/
@media (max-width:320px){
    .textolinea--envios{
        font-size: 12px;
    }
    .seccionenvios{
        width: 100vw;
        height: 500px;
    }
    .comprar{
        width: 80%;
        height: 200px;
        margin-left: 30px;
    }
    .sucursales{
        width: 80%;
        height: 200px;
        margin-left: 30px;
    }
    .titulo{
        font-size: 10px;
    }
    .textoenvios{
        line-height: 15px;
        font-size: 10px;
        margin-bottom: 30px;
    }
} 
@media (min-width:321px) and (max-width:480px){
    .textolinea--envios{
        font-size: 15px;
    }
    .seccionenvios{
        width: 100vw;
        height: 500px;
    }
    .comprar{
        width: 80%;
        height: 200px;
        margin-left: 30px;
    }
    .sucursales{
        width: 80%;
        height: 200px;
        margin-left: 30px;
    }
    .titulo{
        font-size: 15px;
    }
    .textoenvios{
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 30px;
    }
} 
@media (min-width:481px) and (max-width:600px){
    .textolinea--envios{
        font-size: 15px;
    }
    .seccionenvios{
        width: 100vw;
        height: 600px;
    }
    .comprar{
        width: 80%;
        height: 200px;
        margin-left: 30px;
    }
    .sucursales{
        width: 80%;
        height: 200px;
        margin-left: 30px;
    }
    .titulo{
        font-size: 15px;
    }
    .textoenvios{
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 30px;
    }
} 
@media (min-width:601px) and (max-width:768px){
    .textolinea--envios{
        font-size: 15px;
    }
    .seccionenvios{
        width: 100vw;
        height: 700px;
    }
    .comprar{
        width: 90%;
        height: 200px;
        margin-left: 30px;
    }
    .sucursales{
        width: 90%;
        height: 200px;
        margin-left: 30px;
    }
    .titulo{
        font-size: 15px;
    }
    .textoenvios{
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 30px;
    }
} 
@media (min-width:769px) and (max-width:1000px){
    .textolinea--envios{
        font-size: 15px;
    }
    .seccionenvios{
        width: 100vw;
        height: 800px;
    }
    .comprar{
        width: 90%;
        height: 300px;
        margin-left: 30px;
    }
    .sucursales{
        width: 90%;
        height: 300px;
        margin-left: 30px;
    }
    .titulo{
        font-size: 20px;
    }
    .textoenvios{
        line-height: 30px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    @media (min-width:1001px) and (max-width:1500px){
        .textolinea--envios{
            font-size: 15px;
        }
        .seccionenvios{
            width: 100vw;
            height: 1000px;
        }
        .comprar{
            width: 90%;
            height: 400px;
        }
        .sucursales{
            width: 90%;
            height: 400px;
            margin-left: 60px;
        }
        .titulo{
            font-size: 20px;
        }
        .textoenvios{
            line-height: 30px;
            font-size: 15px;
            margin-bottom: 30px;
        }
}
}