//nosotros
.seccion-nosotros{
    height: 800px;
    background-image: url(../assets/img/textura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textonosotros{
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.678);
    font-family: "monserrat light";
    font-size: 20px;
    padding: 50px 50px 50px 50px;
}
.video{
    margin-top: 10px;
    background-color: white;
}
@media (max-width:320px){
    .textolinea{
        width: 100vw;
        height: 30px;
    }
    .textonosotros{
        height: 200px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 20px;
    }
    .video{
        width: 90%;
        height: 180px;
    }
}
@media (min-width:321px) and (max-width:480px){
    .seccion-nosotros{
        width: 100vw;
        height: 900px;
    }
    .textolinea{
        width: 100vw;
        height: 40px;
    }
    .textonosotros{
        height: 220px;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 30px;
    }
    .video{
        width: 70%;
        height: 200px;
        margin-left: 70px;
        margin-top: 30px;
    }
}
@media (min-width:481px) and (max-width:600px){
    .seccion-nosotros{
        width: 100vw;
        height: 950px;
    }
    .textolinea{
        width: 100vw;
        height: 45px;
    }
    .textonosotros{
        height: 220px;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 30px;
    }
    .video{
        width: 70%;
        height: 200px;
        margin-left: 70px;
        margin-top: 30px;
    }
}
@media (min-width:601px) and (max-width:768px){
    .seccion-nosotros{
        width: 100vw;
        height: 1000px;
    }
    .textolinea{
        width: 100vw;
        height: 45px;
    }
    .textonosotros{
        height: 220px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 30px;
    }
    .video{
        width: 70%;
        height: 300px;
        margin-left: 100px;
        margin-top: 30px;
    }
}
@media (min-width:769px) and (max-width:1000px){
    .seccion-nosotros{
        width: 100vw;
        height: 1100px;
    }
    .textolinea{
        width: 100vw;
        height: 50px;
    }
    .textonosotros{
        height: 220px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 30px;
    }
    .video{
        width: 70%;
        height: 350px;
        margin-left: 100px;
        margin-top: 30px;
    }
}
@media (min-width:1001px) and (max-width:1500px){
    .seccion-nosotros{
        width: 100vw;
        height: 1200px;
    }
    .textolinea{
        width: 100vw;
        height: 50px;
    }
    .textonosotros{
        height: 220px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 30px;
    }
    .video{
        width: 60%;
        height: 400px;
        margin-left: 200px;
        margin-top: 30px;
    }
}
