//seccion productos
.seccion-productos{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.678);
}

.filtro{
    font-family:"monserrat light";
    font-size:15px;
    padding: 10px;

        .boton-filtro{
        font-family: monserrat light;
        margin: 0px 10px 20px 10px;
    }
}

.imagen-tarjeta{
    width: 100%;
    height: 350px;

    .pie{
        font-family: monserrat light;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0px;
    }
}

