@font-face {
  font-family: monserrat light;
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: monserrat sBold;
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
.seccioncontacto {
  width: 100vw;
  height: 800px;
  background-image: url(../assets/img/materiales-macrame.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.seccioncontacto .contactanos {
  font-family: "monserrat light";
  color: black;
  background-color: rgba(255, 255, 255, 0.644);
  text-align: center;
  font-size: 20px;
  height: 100px;
  padding-top: 10px;
}
.seccioncontacto .form {
  width: 50%;
  border: 1px solid black;
  background-color: white;
  font-family: "monserrat sbold";
  font-size: 20px;
  text-align: center;
  padding: 50px;
  margin-top: 80px;
  margin-left: 300px;
}
.seccioncontacto .recuadro {
  font-size: 20px;
  line-height: 10px;
  border: 1px solid #756e6e;
  padding: 5px;
}
.seccioncontacto .boton {
  background-color: rgba(235, 211, 207, 0.329);
  color: #554a4a;
  height: 30px;
  width: 100px;
  font-family: "monserrat sbold";
  font-size: 15px;
  border-radius: 5%;
  margin-top: 10px;
  padding: 5px;
  border-color: #554a4a;
}

/*media query contacto*/
@media (max-width: 320px) {
  .seccioncontacto {
    width: 100vw;
    height: 600px;
  }

  .contactanos {
    font-family: "monserrat light";
    height: 70px;
    font-size: 15px;
    line-height: 10px;
  }

  .form {
    width: 100%;
    font-size: 12px;
    margin-top: 30px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .seccioncontacto {
    width: 100vw;
    height: 700px;
  }

  .contactanos {
    font-family: "monserrat light";
    height: 70px;
    font-size: 15px;
    line-height: 10px;
  }

  .form {
    width: 90%;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 20px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .seccioncontacto {
    width: 100vw;
    height: 700px;
  }

  .contactanos {
    font-family: "monserrat light";
    height: 70px;
    font-size: 15px;
    line-height: 10px;
  }

  .form {
    width: 90%;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 20px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .seccioncontacto {
    width: 100vw;
    height: 800px;
  }

  .contactanos {
    font-family: "monserrat light";
    height: 70px;
    font-size: 20px;
    line-height: 10px;
  }

  .form {
    width: 90%;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .seccioncontacto {
    width: 100vw;
    height: 800px;
  }

  .contactanos {
    font-family: "monserrat light";
    height: 70px;
    font-size: 20px;
    line-height: 10px;
  }

  .form {
    width: 80%;
    height: 550px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 80px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .seccioncontacto {
    width: 100vw;
    height: 900px;
  }

  .contactanos {
    font-family: "monserrat light";
    height: 70px;
    font-size: 20px;
    line-height: 10px;
  }

  .form {
    width: 80%;
    height: 600px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 100px;
  }
}
.seccion-productos {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.678);
}

.filtro {
  font-family: "monserrat light";
  font-size: 15px;
  padding: 10px;
}
.filtro .boton-filtro {
  font-family: monserrat light;
  margin: 0px 10px 20px 10px;
}

.imagen-tarjeta {
  width: 100%;
  height: 350px;
}
.imagen-tarjeta .pie {
  font-family: monserrat light;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}

.seccionenvios {
  width: 100%;
  height: 800px;
  background-image: url(../assets/img/hilos.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comprar {
  width: 70%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.815);
  margin: 20px 20px 40px 0px;
}

.sucursales {
  width: 70%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.815);
}

.textolinea--envios {
  background-color: #f5f0f0e1;
  font-size: 15px;
}

.titulo {
  text-align: center;
  font-family: "monserrat light";
  margin: 10px 0px 20px 0px;
}

.textoenvios {
  font-family: "monserrat sbold";
  font-size: 15px;
  line-height: 30px;
}

/*media query envios*/
@media (max-width: 320px) {
  .textolinea--envios {
    font-size: 12px;
  }

  .seccionenvios {
    width: 100vw;
    height: 500px;
  }

  .comprar {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }

  .sucursales {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }

  .titulo {
    font-size: 10px;
  }

  .textoenvios {
    line-height: 15px;
    font-size: 10px;
    margin-bottom: 30px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .textolinea--envios {
    font-size: 15px;
  }

  .seccionenvios {
    width: 100vw;
    height: 500px;
  }

  .comprar {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }

  .sucursales {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }

  .titulo {
    font-size: 15px;
  }

  .textoenvios {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .textolinea--envios {
    font-size: 15px;
  }

  .seccionenvios {
    width: 100vw;
    height: 600px;
  }

  .comprar {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }

  .sucursales {
    width: 80%;
    height: 200px;
    margin-left: 30px;
  }

  .titulo {
    font-size: 15px;
  }

  .textoenvios {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .textolinea--envios {
    font-size: 15px;
  }

  .seccionenvios {
    width: 100vw;
    height: 700px;
  }

  .comprar {
    width: 90%;
    height: 200px;
    margin-left: 30px;
  }

  .sucursales {
    width: 90%;
    height: 200px;
    margin-left: 30px;
  }

  .titulo {
    font-size: 15px;
  }

  .textoenvios {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .textolinea--envios {
    font-size: 15px;
  }

  .seccionenvios {
    width: 100vw;
    height: 800px;
  }

  .comprar {
    width: 90%;
    height: 300px;
    margin-left: 30px;
  }

  .sucursales {
    width: 90%;
    height: 300px;
    margin-left: 30px;
  }

  .titulo {
    font-size: 20px;
  }

  .textoenvios {
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) and (min-width: 1001px) and (max-width: 1500px) {
  .textolinea--envios {
    font-size: 15px;
  }

  .seccionenvios {
    width: 100vw;
    height: 1000px;
  }

  .comprar {
    width: 90%;
    height: 400px;
  }

  .sucursales {
    width: 90%;
    height: 400px;
    margin-left: 60px;
  }

  .titulo {
    font-size: 20px;
  }

  .textoenvios {
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 30px;
  }
}
.seccion-nosotros {
  height: 800px;
  background-image: url(../assets/img/textura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.textonosotros {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.678);
  font-family: "monserrat light";
  font-size: 20px;
  padding: 50px 50px 50px 50px;
}

.video {
  margin-top: 10px;
  background-color: white;
}

@media (max-width: 320px) {
  .textolinea {
    width: 100vw;
    height: 30px;
  }

  .textonosotros {
    height: 200px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 20px;
  }

  .video {
    width: 90%;
    height: 180px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .seccion-nosotros {
    width: 100vw;
    height: 900px;
  }

  .textolinea {
    width: 100vw;
    height: 40px;
  }

  .textonosotros {
    height: 220px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 30px;
  }

  .video {
    width: 70%;
    height: 200px;
    margin-left: 70px;
    margin-top: 30px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .seccion-nosotros {
    width: 100vw;
    height: 950px;
  }

  .textolinea {
    width: 100vw;
    height: 45px;
  }

  .textonosotros {
    height: 220px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 30px;
  }

  .video {
    width: 70%;
    height: 200px;
    margin-left: 70px;
    margin-top: 30px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .seccion-nosotros {
    width: 100vw;
    height: 1000px;
  }

  .textolinea {
    width: 100vw;
    height: 45px;
  }

  .textonosotros {
    height: 220px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 30px;
  }

  .video {
    width: 70%;
    height: 300px;
    margin-left: 100px;
    margin-top: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .seccion-nosotros {
    width: 100vw;
    height: 1100px;
  }

  .textolinea {
    width: 100vw;
    height: 50px;
  }

  .textonosotros {
    height: 220px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 30px;
  }

  .video {
    width: 70%;
    height: 350px;
    margin-left: 100px;
    margin-top: 30px;
  }
}
@media (min-width: 1001px) and (max-width: 1500px) {
  .seccion-nosotros {
    width: 100vw;
    height: 1200px;
  }

  .textolinea {
    width: 100vw;
    height: 50px;
  }

  .textonosotros {
    height: 220px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 30px;
  }

  .video {
    width: 60%;
    height: 400px;
    margin-left: 200px;
    margin-top: 30px;
  }
}
body {
  background-color: #ebebeb;
}

.header {
  background-color: white;
  height: auto;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.header .header__fondo {
  background-color: white;
}
.header .header__img {
  width: 100px;
  border-radius: 100%;
}

.textonav {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: monserrat light;
  text-align: center;
  /* padding: 10px; */
  font-size: 18px;
  margin: 20px;
  border-bottom: 0px solid black;
  transition: all ease-in-out 0.25s;
}
.textonav:hover {
  transition: all ease-in-out 0.2s;
  transform: translateY(-5px);
  border-bottom: 1px solid black;
}

@media (max-width: 320px) {
  .nav {
    width: 20vw;
  }

  .nav__menu {
    width: 20vw;
  }

  .nav__textonav {
    font-size: 6px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .nav {
    width: 50vw;
    margin-left: auto;
    align-items: end;
  }

  .nav__menu {
    width: 10vw;
    height: 7vh;
  }

  .nav__textonav {
    font-size: 8px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .nav {
    width: 50vw;
    margin-left: 40px;
  }

  .nav__menu {
    width: 50vw;
  }

  .nav__textonav {
    font-size: 10px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .nav {
    width: 100vw;
    margin-left: 80px;
  }

  .nav__menu {
    width: 50vw;
  }

  .nav__textonav {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nav {
    width: 50vw;
    margin-left: 60px;
  }

  .nav__menu {
    width: 50vw;
  }

  .nav__textonav {
    font-size: 18px;
  }
}
.intro {
  height: 600px;
  width: 100vw;
  max-width: 100%;
  background-image: url(../assets/img/marco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.intro main article {
  width: 100vw;
}
.intro .intro__texto {
  font-family: monserrat light;
  font-size: 40px;
  background-color: transparent;
  margin-left: 40px;
}
.intro .intro__texto--a {
  width: 50%;
  font-family: monserrat light;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

@media (max-width: 320px) {
  .intro {
    width: 100vw;
    height: 180px;
  }

  main article {
    width: 100vw;
  }

  .intro__texto {
    width: 60%;
    font-size: 12px;
  }

  .intro__texto--a {
    width: 80%;
    height: auto;
    font-size: 10px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .intro {
    width: 100vw;
    height: 200px;
  }

  .intro__texto {
    width: 70vw;
    height: auto;
    font-size: 10px;
  }

  .intro__texto--a {
    width: 70vw;
    height: 123px;
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .intro {
    width: 100vw;
    height: 50vh;
  }

  .intro__texto {
    width: 50vw;
    height: 10vh;
    font-size: 15px;
  }

  .intro__texto--a {
    width: 50vw;
    height: 30vh;
    font-size: 13px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .intro {
    width: 100vw;
    height: 90vh;
  }

  .intro__texto {
    width: 50vw;
    height: 5vh;
    font-size: 20px;
  }

  .intro__texto--a {
    width: 60vw;
    height: 40vh;
    font-size: 20px;
  }
}
.destacados {
  width: 100vw;
  height: 100%;
  background-color: #dad3d3;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.destacados .destacados__texto {
  width: 100vw;
  max-width: 100%;
  height: 55px;
  background-color: #ebebeb;
  font-family: monserrat light;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}
.destacados .destacados__carrusel {
  width: 60%;
  height: 600px;
}
.destacados .destacados__imagen-carrusel {
  width: 100%;
  height: 500px;
}

@media (max-width: 320px) {
  .secdestacados {
    width: 100vw;
    height: 300px;
  }

  .textolinea {
    width: 100vw;
    height: 30px;
    font-size: 10px;
  }

  .imagen-carrusel {
    width: 100vw;
    height: 300px;
  }

  .carrusel {
    width: 100vw;
    height: 300px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .secdestacados {
    width: 100vw;
    height: 300px;
  }

  .textolinea {
    width: 100vw;
    height: 8vh;
    text-align: center;
    font-size: 13px;
  }

  .carrusel {
    width: 100vw;
    height: 300px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .secdestacados {
    width: 100vw;
    height: 400px;
  }

  .textolinea {
    width: 100vw;
    height: 8vh;
    font-size: 15px;
    text-align: center;
  }

  .carrusel {
    width: 100vw;
    height: auto;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .secdestacados {
    width: 100vw;
    height: 600px;
  }

  .textolinea {
    width: 100vw;
    height: 8vh;
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .secdestacados {
    width: 100vw;
    height: 600px;
  }

  .textolinea {
    width: 100vw;
    height: 50px;
    font-size: 15px;
    text-align: center;
  }

  .carrusel {
    width: 50vw;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .secdestacados {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .textolinea {
    width: 100vw;
    height: 30px;
    font-size: 10px;
  }

  .imagen-carrusel {
    width: 50vw;
    height: 500px;
  }

  .carrusel {
    width: 50vw;
    height: auto;
  }
}
.footer {
  width: 100vw;
  height: 300px;
}
.footer footer h3 {
  font-size: 20px;
  font-family: monserrat sbold;
  margin-top: 30px;
}
.footer footer p {
  font-size: 15px;
  font-family: monserrat sbold;
}
.footer .footer__mp {
  display: inline-block;
  font-family: monserrat light;
  font-size: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
  justify-self: center;
}
.footer .footer__envios {
  display: inline-block;
  font-family: monserrat light;
  font-size: 10px;
  margin-bottom: 63px;
  margin-left: 15px;
  justify-self: center;
}
.footer .footer__contacto {
  display: inline-block;
  font-family: monserrat light;
  font-size: 10px;
  margin-bottom: 75px;
  justify-self: center;
}
.footer .footer__redes {
  width: 16vw;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer .footer__facebook {
  width: 40px;
  margin: 3px 3px 3px 3px;
}
.footer .footer__instagram {
  width: 40px;
  margin: 3px 3px 3px 3px;
}
.footer .footer__whatsapp {
  width: 40px;
  margin: 3px 3px 3px 3px;
}
.footer .footer__copy {
  width: 100vw;
  text-align: center;
  font-family: monserrat light;
  font-size: 13px;
  display: flex;
  align-items: center;
}

@media (max-width: 320px) {
  .footer {
    width: 100vw;
    height: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 50px);
    grid-template-areas: "mp" "envios" "contacto" "redes" "copy";
  }

  .footer__mp {
    font-size: 7px;
  }

  .footer__envios {
    font-size: 7px;
  }

  .footer__contacto {
    font-size: 7px;
  }

  .footer__redes {
    width: 50vw;
  }

  .footer__copy {
    font-size: 7px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .footer {
    width: 100vw;
    height: 200px;
  }

  .footer__mp {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    padding-top: 10px;
    margin-left: 20px;
  }

  .footer__envios {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-left: 20px;
  }

  .footer__contacto {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-left: 20px;
  }

  .footer__redes {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
  }

  .footer__copy {
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .footer {
    width: 100vw;
    height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "mp" "envios" "contacto" "redes" "copy";
  }

  .footer__mp {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    padding-top: 10px;
    margin-left: 20px;
  }

  .footer__envios {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-left: 20px;
  }

  .footer__contacto {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-left: 20px;
  }

  .footer__redes {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
  }

  .footer__copy {
    width: 10vw;
    font-size: 8px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .footer {
    width: 100vw;
    height: 20vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "mp envios contacto redes copy";
  }

  .footer__mp {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-top: 15px;
    margin-left: 20px;
  }

  .footer__envios {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
  }

  .footer__contacto {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin-top: 21px;
    margin-left: 20px;
  }

  .footer__redes {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 20px;
  }

  .footer__copy {
    width: 100vw;
    font-size: 8px;
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */