//seteo de sizing del sitio//

*{
    margin: 0;
    padding: 0;
}

//colores//
$grey: rgb(0, 0, 0);
$black: rgb(0, 0, 0);
$white: rgba(255,255,255, 1); 

//sizing//
$m-1: 1rem;
$m-2: 2rem;
$p-1: 1rem;
$p-2: 2rem;

//height//
$h-auto: auto;

.m-bottom{   
    margin-bottom: 2rem;
}

.m-serv{
    margin-left: 2rem;
    margin-right: 2rem;
}






